body {
  margin: 0;
  background: skyblue;
}

#game {
html,body{ margin:0; padding:0; height:100%; width:100%; }

#full-size{
  height:100%;
  width:100%;
  overflow:hidden; 
}
}

#square {
  position: absolute;
  bottom: 10px;
  left: 180px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 4px;
}
