body {
  margin: 0;
  padding: 0;
  background: skyblue;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#square {
  position: absolute;
  left: 600px;
  top: 620px;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 15%;
}

.fallingBlock { 
  position: absolute;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 10%;
  top: 0;
}

#scoreDisplay {
  position: fixed;
  top: 10px;
  right: 20px;
  font-family: monospace;
  font-size: 20px;
  color: black;
  background: white;
  opacity: 0.7;
  padding: 6px 10px;
  border-radius: 8px;
}
